.password {
	font-size: 24pt;
	border: 3px dotted #cdbfe3;
	padding: 10px;
	text-align: center;
}

.jumbotron {
	color: white;
	background-color: #6f5499;
	padding-bottom: 30px;
}

.subtitle {
	color: #cdbfe3;
	padding-top: 30px;
	padding-bottom: 30px;
}

nav .container-fluid {
	background-color: black;
	color: white;
}